/openerp_travel/

.bundle
public/assets/
.idea/
public/spree/
public/spree2/
public/system/
vendor/cache/
log/
tmp/
*.orig
*.swp
*~
*.sqlite3
*.sql
*.db
*.log
/.idea/
*.gz
.rbenv-version

*.png
*.jpg
zeus.json
custom_plan.rb
db/development.sqlite3
.ruby-gemset
.ruby-version
