/openerp_travel/

/spree_travel/.bundle
/spree_travel/tmp/
/spree_travel/public/assets/
/spree_travel/.idea/
/spree_travel/public/spree/
/spree_travel/public/spree2/
/spree_travel/public/system/
/spree_travel/solr/
/spree_travel/vendor/cache/
/spree_travel/db/load_transfers/output.txt
/spree_travel/log/*
/spree_travel/Gemfile.lock
/spree_travel/local_gems/


*.orig
*.swp
*~
*.sqlite3
*.sql
*.db
*.log
/.idea/
*.gz
.rbenv-version

*.png
*.jpg
