/*
 * require store/spree_core
*/


div.account-summary {
    float: left;

}

#cart-form {
    border-bottom: 1px solid #DDDDDD;
    margin-bottom: 25px;
    margin-top: 25px;
}

#contact-button {
    box-shadow: 0 0 0 15px white;
    margin-bottom: -13px;
    margin-left: 200px;
    margin-top: 10px;
    text-align: center;

}

#add-to-cart-button {
    box-shadow: 0 0 0 15px white;
    margin-bottom: -13px;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    background-color: gray;
    border-color: gray;
}

#add-to-cart-button:hover {
    background-color: gray;
    border-color: gray;
}

.back_overlay{
  display: none;
}
